@import '../main';

.calendar {
  #calendar-head,
  .calendar-row {
    display: flex;
    justify-content: space-around;

    p {
      width: 100%;
      text-align: center;
      color: white;
    }
  }

  #calendar-body {
    .grayedOut {
      color: $fadedText;
    }

    .standardDay {
      color: white;
    }
  }
}
